@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  /* shared styles */
  .display-flex{
    display: flex;
  }
  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
    font-size: 3rem;
    font-weight: 700;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    /* font-size: 18px; */
  }
  /* dark-02 */
  .dark-02{
    color: #424242;
  }
  .dark-03{
    color: #727272;
  }
  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* banner-related styles */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 400;
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
  }
  .banner-img{
    width: 100%;
  }
  /* main related section */
  .main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  main > section{
    margin-top: 130px;
  }
  /* team and features related */
  .teams{
    align-items: center;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
.our-features{
  margin-left: 80px;
  max-width: 530px;
}

#features{
  color: #FF900E;
}

.features-description{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
/* features releted styles */
.features{
  gap: 140px;
}
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding: 20px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  margin: 20px;
  border-radius: 8px;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  
}
/* fact related styles */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8p;
  /* gap: 120px; */
}
.fact{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.fact-description{
  max-width: 540px;
  margin-bottom: 100PX;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.3rem;
  font-weight: 600;

}

/* sponsor releted info */
.sponsor-info{
  max-width: 540px;
  margin: 50 auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}


  /* responsive media quary */
  @media screen and (max-width: 576px) {
    .nav-bar, .nav-links{
      flex-direction: column;
    }
    .teams{
      flex-direction: column;
    }
    .team-img-container, .fact-container, .sponsor-companies{
      grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
      margin-left: 20px;
    }
    .fact-container{
      justify-items: center;
      gap: 24PX;
    }
    .sponsor-companies{
      justify-items: center;
      gap: 50PX;
    }
  }


  /* medum size device */
  @media screen and (min-width:576px) and (max-width:992px) {
    .teams{
      flex-direction: column;
    }
    .our-features{
      margin-left: 50px auto;
    }
    .sponsor-companies, .fact-container{
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
    }
  }